<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">test.java.components.phi.algorithms</span><span class="p">;</span>

<span class="kn">import static</span> <span class="nn">org.junit.Assert.*</span><span class="p">;</span>

<span class="kn">import</span> <span class="nn">org.junit.Test</span><span class="p">;</span>

<span class="kn">import</span> <span class="nn">main.java.Helper</span><span class="p">;</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">CatenaPhiTest</span> <span class="p">{</span>

	<span class="n">Helper</span> <span class="n">helper</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Helper</span><span class="p">();</span>
	
	
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">test</span><span class="p">()</span> <span class="p">{</span>
		<span class="n">assertTrue</span><span class="p">(</span><span class="kc">true</span><span class="p">);</span>
	<span class="p">}</span>

<span class="p">}</span>
</pre></div>
