<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">test.java.components.hash.algorithms</span><span class="o">;</span>

<span class="kn">import static</span> <span class="nn">org.junit.Assert.*</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">java.io.BufferedReader</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.io.File</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.io.FileReader</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">org.json.JSONArray</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">org.json.JSONObject</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">org.junit.Test</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">main.java.Helper</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">main.java.components.hash.HashInterface</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">main.java.components.hash.algorithms.Blake2b_1</span><span class="o">;</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">Blake2b_1Test</span> <span class="o">{</span>
	
	<span class="n">Helper</span> <span class="n">helper</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Helper</span><span class="o">();</span>
	
	<span class="kd">private</span> <span class="kd">static</span> <span class="kd">final</span> <span class="n">String</span> <span class="n">testVectorSource</span> <span class="o">=</span> 
			<span class="s">&quot;src/test/resources/blake2b1.json&quot;</span><span class="o">;</span>
	<span class="kd">private</span> <span class="kd">static</span> <span class="kd">final</span> <span class="n">File</span> <span class="n">file</span> <span class="o">=</span> <span class="k">new</span> <span class="n">File</span><span class="o">(</span><span class="n">testVectorSource</span><span class="o">);</span>
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testAllVectors</span><span class="o">()</span> <span class="o">{</span>
		<span class="n">Helper</span> <span class="n">helper</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Helper</span><span class="o">();</span>		
		<span class="n">HashInterface</span> <span class="n">hPrime</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b_1</span><span class="o">();</span>
		
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">actualResult</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		
		<span class="kt">boolean</span> <span class="n">reset</span> <span class="o">=</span> <span class="kc">false</span><span class="o">;</span>
		<span class="kt">int</span> <span class="n">r</span> <span class="o">=</span> <span class="mi">0</span><span class="o">;</span>
		
		<span class="n">JSONArray</span> <span class="n">jsonObj</span> <span class="o">=</span> <span class="n">jsonParser</span><span class="o">(</span><span class="n">file</span><span class="o">);</span>
		<span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="o">;</span> <span class="n">i</span><span class="o">&lt;</span><span class="n">jsonObj</span><span class="o">.</span><span class="na">length</span><span class="o">();</span> <span class="o">++</span><span class="n">i</span> <span class="o">){</span>
			<span class="n">JSONObject</span> <span class="n">o</span> <span class="o">=</span> <span class="o">(</span><span class="n">JSONObject</span><span class="o">)</span> <span class="n">jsonObj</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">i</span><span class="o">);</span>
			
			<span class="n">JSONObject</span> <span class="n">inputs</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="na">getJSONObject</span><span class="o">(</span><span class="s">&quot;inputs&quot;</span><span class="o">);</span>
			<span class="n">JSONObject</span> <span class="n">outputs</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="na">getJSONObject</span><span class="o">(</span><span class="s">&quot;outputs&quot;</span><span class="o">);</span>
			
			<span class="n">reset</span> <span class="o">=</span> <span class="n">inputs</span><span class="o">.</span><span class="na">getBoolean</span><span class="o">(</span><span class="s">&quot;reset&quot;</span><span class="o">);</span>
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">input</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">inputs</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">&quot;data&quot;</span><span class="o">));</span>
			<span class="n">r</span> <span class="o">=</span> <span class="n">inputs</span><span class="o">.</span><span class="na">getInt</span><span class="o">(</span><span class="s">&quot;r&quot;</span><span class="o">);</span>
			
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">output</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">outputs</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">&quot;res&quot;</span><span class="o">));</span>
			
			<span class="k">if</span> <span class="o">(</span><span class="n">reset</span><span class="o">){</span>
				<span class="n">hPrime</span><span class="o">.</span><span class="na">reset</span><span class="o">();</span>
			<span class="o">}</span>
			
			<span class="n">hPrime</span><span class="o">.</span><span class="na">setVertexIndex</span><span class="o">(</span><span class="n">r</span><span class="o">);</span>
			<span class="n">hPrime</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="n">input</span><span class="o">);</span>
			<span class="n">actualResult</span> <span class="o">=</span> <span class="n">hPrime</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
			
			<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">actualResult</span><span class="o">).</span>
					<span class="n">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">output</span><span class="o">)));</span>
		<span class="o">}</span>
	<span class="o">}</span>

<span class="c1">//		------------------- Helper Area</span>
		
	<span class="kd">private</span> <span class="n">JSONArray</span> <span class="nf">jsonParser</span><span class="o">(</span><span class="n">File</span> <span class="n">f</span><span class="o">){</span>
		<span class="n">BufferedReader</span> <span class="n">br</span><span class="o">;</span>
		<span class="n">String</span> <span class="n">all</span> <span class="o">=</span> <span class="s">&quot;&quot;</span><span class="o">;</span>
		<span class="k">try</span> <span class="o">{</span>
			<span class="n">br</span> <span class="o">=</span> <span class="k">new</span> <span class="n">BufferedReader</span><span class="o">(</span><span class="k">new</span> <span class="n">FileReader</span><span class="o">(</span><span class="n">f</span><span class="o">));</span>
			<span class="n">String</span> <span class="n">line</span><span class="o">;</span>
			<span class="k">while</span> <span class="o">((</span><span class="n">line</span> <span class="o">=</span> <span class="n">br</span><span class="o">.</span><span class="na">readLine</span><span class="o">())</span> <span class="o">!=</span> <span class="kc">null</span><span class="o">)</span> <span class="o">{</span>
				<span class="n">all</span><span class="o">+=</span><span class="n">line</span><span class="o">;</span>
			<span class="o">}</span>
		<span class="o">}</span><span class="k">catch</span> <span class="o">(</span><span class="n">Exception</span> <span class="n">e</span><span class="o">)</span> <span class="o">{</span>
		<span class="o">}</span>
		<span class="k">return</span> <span class="k">new</span> <span class="n">JSONArray</span><span class="o">(</span><span class="n">all</span><span class="o">);</span>
	<span class="o">}</span>
<span class="o">}</span>
</pre></div>
