<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">test.java.components.hash.algorithms</span><span class="o">;</span>

<span class="cm">/**</span>
<span class="cm"> * @author Max Weber</span>
<span class="cm"> * hex2bytes and bytes2hex are from </span>
<span class="cm"> * https://github.com/BLAKE2/</span>
<span class="cm"> */</span>
<span class="kn">import static</span> <span class="nn">org.junit.Assert.*</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">java.io.BufferedReader</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.io.File</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">java.io.FileReader</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">org.json.JSONArray</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">org.json.JSONObject</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">org.junit.Test</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">main.java.Helper</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">main.java.components.hash.algorithms.Blake2b</span><span class="o">;</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">Blake2bTest</span> <span class="o">{</span>
	
	<span class="kd">static</span> <span class="kd">class</span> <span class="nc">TestVector</span> <span class="o">{</span>
		<span class="kd">public</span> <span class="n">String</span> <span class="n">Input</span><span class="o">,</span> <span class="n">Key</span><span class="o">,</span> <span class="n">Hash</span><span class="o">;</span>
		
		<span class="kd">public</span> <span class="nf">TestVector</span><span class="o">(</span><span class="n">String</span> <span class="n">in</span><span class="o">,</span> <span class="n">String</span> <span class="n">key</span><span class="o">,</span> <span class="n">String</span> <span class="n">hash</span><span class="o">){</span>
			<span class="n">Input</span> <span class="o">=</span> <span class="n">in</span><span class="o">;</span>
			<span class="n">Key</span> <span class="o">=</span> <span class="n">key</span><span class="o">;</span>
			<span class="n">Hash</span> <span class="o">=</span> <span class="n">hash</span><span class="o">;</span>			
		<span class="o">}</span>
	<span class="o">};</span>
	 
	<span class="kd">private</span> <span class="n">Helper</span> <span class="n">helper</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Helper</span><span class="o">();</span>
	
	<span class="kd">private</span> <span class="kd">static</span> <span class="kd">final</span> <span class="n">String</span> <span class="n">testVectorSource</span> <span class="o">=</span> 
			<span class="s">&quot;src/test/resources/blake2b.json&quot;</span><span class="o">;</span>
	<span class="kd">private</span> <span class="kd">static</span> <span class="kd">final</span> <span class="n">File</span> <span class="n">fileBlake2b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">File</span><span class="o">(</span><span class="n">testVectorSource</span><span class="o">);</span>
	
	<span class="n">String</span> <span class="n">input1</span> <span class="o">=</span> <span class="s">&quot;&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">key</span> <span class="o">=</span> <span class="s">&quot;000102030405060708090a0b0c0d0e0f10111213&quot;</span>
			<span class="o">+</span> <span class="s">&quot;1415161718191a1b1c1d1e1f2021222324252627282&quot;</span>
			<span class="o">+</span> <span class="s">&quot;92a2b2c2d2e2f303132333435363738393a3b3c3d3e&quot;</span>
			<span class="o">+</span> <span class="s">&quot;3f&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">hash1</span> <span class="o">=</span> <span class="s">&quot;10ebb67700b1868efb4417987acf4690ae9d97&quot;</span>
			<span class="o">+</span> <span class="s">&quot;2fb7a590c2f02871799aaa4786b5e996e8f0f4eb981&quot;</span>
			<span class="o">+</span> <span class="s">&quot;fc214b005f42d2ff4233499391653df7aefcbc13fc5&quot;</span>
			<span class="o">+</span> <span class="s">&quot;1568&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">zeroes</span> <span class="o">=</span> <span class="s">&quot;0000000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000000000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000000000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">zeroesRes</span> <span class="o">=</span> <span class="s">&quot;061D94FA094482C5688AB83995F17AEC64&quot;</span>
			<span class="o">+</span> <span class="s">&quot;F955D59E9EB406EA9BBA84DF7D6DA86D1C88D519669&quot;</span>
			<span class="o">+</span> <span class="s">&quot;159E409A926A1D9E151A4F69EF110EAD0A1E5B62A42&quot;</span>
			<span class="o">+</span> <span class="s">&quot;E15C396F&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">zeroes2</span> <span class="o">=</span> <span class="s">&quot;0100000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000000000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000000000000000000000000000000000000000&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0000000&quot;</span><span class="o">;</span>
	<span class="n">String</span> <span class="n">zeroesRes2</span> <span class="o">=</span> <span class="s">&quot;A4C37D9E1FD03BA5E8EB64D307225A959&quot;</span>
			<span class="o">+</span> <span class="s">&quot;50A2211BDC83B4C1009600DCAD956182B5B5639B860&quot;</span>
			<span class="o">+</span> <span class="s">&quot;E8FC583A4A482FAC45E8CBA97996737B4E376C884C8&quot;</span>
			<span class="o">+</span> <span class="s">&quot;0BFD7D010&quot;</span><span class="o">;</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * simple test example for Blake2b</span>
<span class="cm">	 * one vector from &quot;https://github.com/BLAKE2/&quot;</span>
<span class="cm">	 */</span>
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testsimple</span><span class="o">()</span> <span class="o">{</span>
		
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">input1</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">exp</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">hash1</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">keyInBytes</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">key</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">(</span><span class="n">keyInBytes</span><span class="o">);</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		  
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">hash</span><span class="o">).</span><span class="na">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">exp</span><span class="o">)));</span>
	<span class="o">}</span>
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testsimple2</span> <span class="o">()</span> <span class="o">{</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">input1</span><span class="o">);</span>
		
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">exp</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">hash1</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">keyInBytes</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">key</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">(</span><span class="n">keyInBytes</span><span class="o">);</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		  
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">hash</span><span class="o">).</span><span class="na">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">exp</span><span class="o">)));</span>
	<span class="o">}</span>
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testZeroes</span><span class="o">(){</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">zeroes</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">exp</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">zeroesRes</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">();</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">hash</span><span class="o">).</span><span class="na">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">exp</span><span class="o">)));</span>
	<span class="o">}</span>
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testZeroes2</span><span class="o">(){</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">zeroes2</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">exp</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">zeroesRes2</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">();</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		
<span class="c1">//		System.out.println(helper.bytes2hex(hash));</span>
		
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">hash</span><span class="o">).</span><span class="na">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">exp</span><span class="o">)));</span>
	<span class="o">}</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * parsing and testing against all official test vectors </span>
<span class="cm">	 * from &quot;https://github.com/BLAKE2/&quot;</span>
<span class="cm">	 */</span>
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testAllVectors</span><span class="o">()</span> <span class="o">{</span>
		
		<span class="n">JSONArray</span> <span class="n">jsonObj</span> <span class="o">=</span> <span class="n">jsonParser</span><span class="o">(</span><span class="n">fileBlake2b</span><span class="o">);</span>
		<span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="o">;</span> <span class="n">i</span><span class="o">&lt;</span><span class="n">jsonObj</span><span class="o">.</span><span class="na">length</span><span class="o">();</span> <span class="o">++</span><span class="n">i</span> <span class="o">){</span>
			<span class="n">JSONObject</span> <span class="n">o</span> <span class="o">=</span> <span class="o">(</span><span class="n">JSONObject</span><span class="o">)</span> <span class="n">jsonObj</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">i</span><span class="o">);</span>
			
			<span class="n">JSONObject</span> <span class="n">inputs</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="na">getJSONObject</span><span class="o">(</span><span class="s">&quot;inputs&quot;</span><span class="o">);</span>
			<span class="n">JSONObject</span> <span class="n">outputs</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="na">getJSONObject</span><span class="o">(</span><span class="s">&quot;outputs&quot;</span><span class="o">);</span>
			
			<span class="n">String</span> <span class="n">in</span> <span class="o">=</span> <span class="n">inputs</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">&quot;in&quot;</span><span class="o">);</span>
			<span class="n">String</span> <span class="n">k</span> <span class="o">=</span> <span class="n">inputs</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">&quot;key&quot;</span><span class="o">);</span>
			
			<span class="n">String</span> <span class="n">res</span> <span class="o">=</span> <span class="n">outputs</span><span class="o">.</span><span class="na">getString</span><span class="o">(</span><span class="s">&quot;res&quot;</span><span class="o">);</span>
			
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">input</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">in</span><span class="o">);</span>
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">key</span>   <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">k</span><span class="o">);</span>
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span>  <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">res</span><span class="o">);</span>
		
			<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">(</span><span class="n">key</span><span class="o">);</span>
			<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="n">input</span><span class="o">);</span>
			<span class="kt">byte</span><span class="o">[]</span> <span class="n">output</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
			<span class="n">output</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
			
			<span class="n">assertTrue</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">hash</span><span class="o">).</span><span class="na">equals</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">bytes2hex</span><span class="o">(</span><span class="n">output</span><span class="o">)));</span>
		<span class="o">}</span>
	<span class="o">}</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * Test output Length of h with keyed hashing</span>
<span class="cm">	 */</span>
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testOutputLength1</span><span class="o">(){</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">input1</span><span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">keyInBytes</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">key</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">(</span><span class="n">keyInBytes</span><span class="o">);</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">hash</span><span class="o">.</span><span class="na">length</span><span class="o">==</span><span class="n">b</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">());</span>
	<span class="o">}</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * Test output Length of h without keyed hashing</span>
<span class="cm">	 */</span>
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testOutputLength2</span><span class="o">(){</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">anyByteArray1</span> <span class="o">=</span> <span class="n">helper</span><span class="o">.</span><span class="na">hex2bytes</span><span class="o">(</span><span class="n">input1</span><span class="o">);</span>
		
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">();</span>
		<span class="n">b</span><span class="o">.</span><span class="na">update</span><span class="o">(</span> <span class="n">anyByteArray1</span> <span class="o">);</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">hash</span><span class="o">.</span><span class="na">length</span><span class="o">==</span><span class="n">b</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">());</span>
	<span class="o">}</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * Test output Length of h without key and</span>
<span class="cm">	 * empty input</span>
<span class="cm">	 */</span>
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testOutputLength3</span><span class="o">(){</span>
		<span class="n">Blake2b</span> <span class="n">b</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Blake2b</span><span class="o">();</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">hash</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">64</span><span class="o">];</span>
		<span class="n">hash</span> <span class="o">=</span> <span class="n">b</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
		
		<span class="n">assertTrue</span><span class="o">(</span><span class="n">hash</span><span class="o">.</span><span class="na">length</span><span class="o">==</span><span class="n">b</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">());</span>
	<span class="o">}</span>
	
	<span class="nd">@Test</span>
	<span class="kd">public</span> <span class="kt">void</span> <span class="nf">testBlake2bConstructor</span><span class="o">(){</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">key</span> <span class="o">=</span> <span class="o">{};</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">_salt</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">16</span><span class="o">];</span>
		<span class="kt">int</span> <span class="n">_digestLength</span> <span class="o">=</span> <span class="mi">1</span><span class="o">;</span>
		<span class="kt">byte</span><span class="o">[]</span><span class="n">_personalization</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">16</span><span class="o">];</span>
		
		<span class="k">new</span> <span class="n">Blake2b</span><span class="o">(</span><span class="n">key</span><span class="o">,</span> <span class="n">_digestLength</span><span class="o">,</span> <span class="n">_salt</span><span class="o">,</span> <span class="n">_personalization</span><span class="o">);</span>
		
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">act</span> <span class="o">=</span> <span class="o">{};</span>
		<span class="kt">byte</span><span class="o">[]</span> <span class="n">exp</span> <span class="o">=</span> <span class="o">{};</span>
		
		<span class="n">assertArrayEquals</span><span class="o">(</span><span class="n">exp</span><span class="o">,</span> <span class="n">act</span><span class="o">);</span>
	<span class="o">}</span>
	
		
<span class="c1">//====================================================================</span>
<span class="c1">// Helper functions:</span>
	
	<span class="cm">/**</span>
<span class="cm">	 * Helper-function</span>
<span class="cm">	 * reads test vector file</span>
<span class="cm">	 * creates test vector object </span>
<span class="cm">	 */</span>
	
	<span class="kd">private</span> <span class="n">JSONArray</span> <span class="nf">jsonParser</span><span class="o">(</span><span class="n">File</span> <span class="n">f</span><span class="o">){</span>
		<span class="n">BufferedReader</span> <span class="n">br</span><span class="o">;</span>
		<span class="n">String</span> <span class="n">all</span> <span class="o">=</span> <span class="s">&quot;&quot;</span><span class="o">;</span>
		<span class="k">try</span> <span class="o">{</span>
			<span class="n">br</span> <span class="o">=</span> <span class="k">new</span> <span class="n">BufferedReader</span><span class="o">(</span><span class="k">new</span> <span class="n">FileReader</span><span class="o">(</span><span class="n">f</span><span class="o">));</span>
			<span class="n">String</span> <span class="n">line</span><span class="o">;</span>
			<span class="k">while</span> <span class="o">((</span><span class="n">line</span> <span class="o">=</span> <span class="n">br</span><span class="o">.</span><span class="na">readLine</span><span class="o">())</span> <span class="o">!=</span> <span class="kc">null</span><span class="o">)</span> <span class="o">{</span>
				<span class="n">all</span><span class="o">+=</span><span class="n">line</span><span class="o">;</span>
			<span class="o">}</span>
		<span class="o">}</span><span class="k">catch</span> <span class="o">(</span><span class="n">Exception</span> <span class="n">e</span><span class="o">)</span> <span class="o">{</span>
		<span class="o">}</span>
		<span class="k">return</span> <span class="k">new</span> <span class="n">JSONArray</span><span class="o">(</span><span class="n">all</span><span class="o">);</span>
	<span class="o">}</span>
<span class="o">}</span>
</pre></div>
