<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">main.java.components.graph.algorithms</span><span class="o">;</span>

<span class="kn">import</span> <span class="nn">main.java.Helper</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">main.java.components.graph.GraphInterface</span><span class="o">;</span>
<span class="kn">import</span> <span class="nn">main.java.components.hash.HashInterface</span><span class="o">;</span>

<span class="kd">public</span> <span class="kd">class</span> <span class="nc">DoubleButterflyGraph</span> <span class="kd">implements</span> <span class="n">GraphInterface</span> <span class="o">{</span>

    <span class="n">HashInterface</span> <span class="n">_h</span><span class="o">;</span>
    <span class="n">HashInterface</span> <span class="n">_hPrime</span><span class="o">;</span>
    <span class="n">Helper</span> <span class="n">helper</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Helper</span><span class="o">();</span>
    <span class="n">IdxInterface</span> <span class="n">indexing</span><span class="o">;</span>
    
    <span class="nd">@Override</span>
    <span class="kd">public</span> <span class="kt">byte</span><span class="o">[][]</span> <span class="nf">graph</span><span class="o">(</span><span class="kt">int</span> <span class="n">g</span><span class="o">,</span> <span class="kt">byte</span><span class="o">[][]</span> <span class="n">v</span><span class="o">,</span> <span class="kt">int</span> <span class="n">lambda</span><span class="o">)</span> <span class="o">{</span>
        
        <span class="kt">int</span> <span class="n">dim1</span> <span class="o">=</span> <span class="o">(</span><span class="kt">int</span><span class="o">)</span><span class="n">Math</span><span class="o">.</span><span class="na">pow</span><span class="o">(</span><span class="mi">2</span><span class="o">,</span> <span class="n">g</span><span class="o">);;</span>
        <span class="kt">int</span> <span class="n">dim2</span> <span class="o">=</span> <span class="n">_hPrime</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">();</span>
        <span class="kt">byte</span> <span class="o">[][]</span> <span class="n">r</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="n">dim1</span><span class="o">][</span><span class="n">dim2</span><span class="o">];</span>
        
        <span class="kt">int</span> <span class="n">jLimit</span> <span class="o">=</span> <span class="mi">2</span><span class="o">*</span><span class="n">g</span> <span class="o">-</span> <span class="mi">1</span><span class="o">;</span>
        <span class="kt">int</span> <span class="n">iLimit</span> <span class="o">=</span> <span class="n">dim1</span><span class="o">-</span><span class="mi">1</span><span class="o">;</span>
        
        <span class="n">_hPrime</span><span class="o">.</span><span class="na">reset</span><span class="o">();</span>
        
        <span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">k</span> <span class="o">=</span> <span class="mi">1</span><span class="o">;</span> <span class="n">k</span> <span class="o">&lt;=</span> <span class="n">lambda</span><span class="o">;</span> <span class="n">k</span><span class="o">++)</span> <span class="o">{</span>
            <span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">j</span> <span class="o">=</span> <span class="mi">1</span><span class="o">;</span> <span class="n">j</span> <span class="o">&lt;=</span> <span class="n">jLimit</span><span class="o">;</span> <span class="n">j</span><span class="o">++)</span> <span class="o">{</span>
                

                
                <span class="n">r</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span> <span class="o">=</span> <span class="n">hFirst</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">concateByteArrays</span><span class="o">(</span>
                        <span class="n">helper</span><span class="o">.</span><span class="na">xor</span><span class="o">(</span><span class="n">v</span><span class="o">[</span><span class="n">dim1</span><span class="o">-</span><span class="mi">1</span><span class="o">],</span><span class="n">v</span><span class="o">[</span><span class="mi">0</span><span class="o">]),</span>
                        <span class="n">v</span><span class="o">[(</span><span class="kt">int</span><span class="o">)</span><span class="n">indexing</span><span class="o">.</span><span class="na">getIndex</span><span class="o">((</span><span class="kt">long</span><span class="o">)</span><span class="n">g</span><span class="o">,</span> <span class="o">(</span><span class="kt">long</span><span class="o">)</span><span class="n">j</span><span class="o">-</span><span class="mi">1</span><span class="o">,</span> <span class="mi">0</span><span class="o">)]));</span>
                
                <span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">1</span><span class="o">;</span> <span class="n">i</span> <span class="o">&lt;=</span> <span class="n">iLimit</span><span class="o">;</span> <span class="n">i</span><span class="o">++)</span> <span class="o">{</span>
                    <span class="n">_hPrime</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">concateByteArrays</span><span class="o">(</span>
                            <span class="n">helper</span><span class="o">.</span><span class="na">xor</span><span class="o">(</span><span class="n">r</span><span class="o">[</span><span class="n">i</span><span class="o">-</span><span class="mi">1</span><span class="o">],</span><span class="n">v</span><span class="o">[</span><span class="n">i</span><span class="o">]),</span>
                            <span class="n">v</span><span class="o">[(</span><span class="kt">int</span><span class="o">)</span><span class="n">indexing</span><span class="o">.</span><span class="na">getIndex</span><span class="o">((</span><span class="kt">long</span><span class="o">)</span><span class="n">g</span><span class="o">,</span> <span class="o">(</span><span class="kt">long</span><span class="o">)</span><span class="n">j</span><span class="o">-</span><span class="mi">1</span><span class="o">,</span> <span class="n">i</span><span class="o">)]));</span>
                    <span class="n">r</span><span class="o">[</span><span class="n">i</span><span class="o">]</span> <span class="o">=</span> <span class="n">_hPrime</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
                <span class="o">}</span>
                <span class="n">System</span><span class="o">.</span><span class="na">arraycopy</span><span class="o">(</span><span class="n">r</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="n">v</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="n">r</span><span class="o">.</span><span class="na">length</span><span class="o">);</span>
            <span class="o">}</span>
        <span class="o">}</span>
        <span class="k">return</span> <span class="n">v</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">setH</span><span class="o">(</span><span class="n">HashInterface</span> <span class="n">h</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">_h</span> <span class="o">=</span> <span class="n">h</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">setHPrime</span><span class="o">(</span><span class="n">HashInterface</span> <span class="n">hPrime</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">_hPrime</span> <span class="o">=</span> <span class="n">hPrime</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="nd">@Override</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">setIndexing</span><span class="o">(</span><span class="n">IdxInterface</span> <span class="n">idx</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">indexing</span> <span class="o">=</span> <span class="n">idx</span><span class="o">;</span>
    <span class="o">}</span>

    <span class="kd">private</span> <span class="kt">byte</span><span class="o">[]</span> <span class="nf">hFirst</span><span class="o">(</span><span class="kt">byte</span><span class="o">[]</span> <span class="n">in</span><span class="o">)</span> <span class="o">{</span>
        <span class="kt">int</span> <span class="n">n</span> <span class="o">=</span> <span class="n">_h</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">();</span>
        <span class="kt">int</span> <span class="n">k</span> <span class="o">=</span> <span class="n">_hPrime</span><span class="o">.</span><span class="na">getOutputSize</span><span class="o">();</span>
        <span class="kt">int</span> <span class="n">l</span> <span class="o">=</span> <span class="n">k</span><span class="o">/</span><span class="n">n</span><span class="o">;</span>
        
        <span class="kt">byte</span><span class="o">[][]</span> <span class="n">w</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="n">l</span><span class="o">][</span><span class="n">n</span><span class="o">];</span>
        <span class="kt">byte</span><span class="o">[]</span> <span class="n">iByte</span> <span class="o">=</span> <span class="k">new</span> <span class="kt">byte</span><span class="o">[</span><span class="mi">1</span><span class="o">];</span>
        
        <span class="n">_h</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="n">in</span><span class="o">);</span>
        <span class="n">w</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span> <span class="o">=</span> <span class="n">_h</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
        <span class="n">_h</span><span class="o">.</span><span class="na">reset</span><span class="o">();</span>
        
        <span class="k">for</span> <span class="o">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">1</span><span class="o">;</span> <span class="n">i</span> <span class="o">&lt;=</span> <span class="n">l</span><span class="o">-</span><span class="mi">1</span><span class="o">;</span> <span class="o">++</span><span class="n">i</span><span class="o">)</span> <span class="o">{</span>
            <span class="n">iByte</span><span class="o">[</span><span class="mi">0</span><span class="o">]</span> <span class="o">=</span> <span class="o">(</span><span class="kt">byte</span><span class="o">)</span> <span class="n">i</span><span class="o">;</span>
            <span class="n">_h</span><span class="o">.</span><span class="na">update</span><span class="o">(</span><span class="n">helper</span><span class="o">.</span><span class="na">concateByteArrays</span><span class="o">(</span><span class="n">iByte</span><span class="o">,</span><span class="n">w</span><span class="o">[</span><span class="mi">0</span><span class="o">]));</span>
            <span class="n">w</span><span class="o">[</span><span class="n">i</span><span class="o">]</span> <span class="o">=</span> <span class="n">_h</span><span class="o">.</span><span class="na">doFinal</span><span class="o">();</span>
            <span class="n">_h</span><span class="o">.</span><span class="na">reset</span><span class="o">();</span>
        <span class="o">}</span>
        <span class="k">return</span> <span class="n">helper</span><span class="o">.</span><span class="na">twoDimByteArrayToOne</span><span class="o">(</span><span class="n">w</span><span class="o">);</span>
    <span class="o">}</span>
<span class="o">}</span>
</pre></div>
