<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">main.java.components.graph.algorithms</span><span class="p">;</span>

<span class="kd">public</span> <span class="kd">interface</span> <span class="nc">IdxInterface</span> <span class="p">{</span>

    <span class="kd">public</span> <span class="kt">int</span> <span class="nf">getIndex</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="p">,</span><span class="kt">int</span> <span class="n">g</span><span class="p">);</span>
    <span class="kd">public</span> <span class="kt">long</span> <span class="nf">getIndex</span><span class="p">(</span><span class="kt">long</span> <span class="n">i</span><span class="p">,</span> <span class="kt">int</span> <span class="n">g</span><span class="p">);</span>
    
    <span class="kd">public</span> <span class="kt">int</span> <span class="nf">getIndex</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="p">,</span> <span class="kt">int</span> <span class="n">j</span><span class="p">,</span> <span class="kt">int</span> <span class="n">g</span><span class="p">);</span>
    <span class="kd">public</span> <span class="kt">long</span> <span class="nf">getIndex</span><span class="p">(</span><span class="kt">long</span> <span class="n">i</span><span class="p">,</span> <span class="kt">long</span> <span class="n">j</span><span class="p">,</span> <span class="kt">int</span> <span class="n">g</span><span class="p">);</span>
    
<span class="p">}</span>
</pre></div>
