<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">main.java.components.phi.algorithms</span><span class="p">;</span>

<span class="kd">public</span> <span class="kd">interface</span> <span class="nc">IdxStateInterface</span> <span class="p">{</span>

    <span class="kd">public</span> <span class="kt">int</span> <span class="nf">getLsbIndex</span><span class="p">(</span><span class="kt">byte</span><span class="o">[]</span> <span class="n">state</span><span class="p">,</span> <span class="kt">int</span> <span class="n">garlic</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
