<div class="highlight"><pre><span></span><span class="kn">package</span> <span class="nn">main.java.components.hash</span><span class="p">;</span>

<span class="cm">/**</span>
<span class="cm"> * Interface for hashing functions</span>
<span class="cm"> * @author max</span>
<span class="cm"> *</span>
<span class="cm"> */</span>
<span class="kd">public</span> <span class="kd">interface</span> <span class="nc">HashInterface</span> <span class="p">{</span>
    
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">update</span><span class="p">(</span><span class="kt">byte</span><span class="o">[]</span> <span class="n">message</span><span class="p">);</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">update</span><span class="p">(</span><span class="kt">byte</span> <span class="n">b</span><span class="p">);</span>
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">update</span><span class="p">(</span><span class="kt">byte</span><span class="o">[]</span> <span class="n">message</span><span class="p">,</span> <span class="kt">int</span> <span class="n">offset</span><span class="p">,</span> <span class="kt">int</span> <span class="n">len</span><span class="p">);</span>
    
    <span class="kd">public</span> <span class="kt">byte</span><span class="o">[]</span> <span class="nf">doFinal</span><span class="p">();</span>
    
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">reset</span><span class="p">();</span>
    
    <span class="kd">public</span> <span class="kt">void</span> <span class="nf">setVertexIndex</span><span class="p">(</span><span class="kt">int</span> <span class="n">r</span><span class="p">);</span>
    
    <span class="kd">public</span> <span class="n">String</span> <span class="nf">getName</span><span class="p">();</span>
    <span class="kd">public</span> <span class="kt">int</span> <span class="nf">getOutputSize</span><span class="p">();</span>
<span class="p">}</span>
</pre></div>
